<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login and Registration</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    <div class="row-container">
      <div class="my-col">
        <form action="/register" method="POST">
          {% csrf_token %}
          <div class="form-format">
            <h1>Registration</h1>
            <label for="fName">First Name</label>
            <input id="fName" type="text" name="fName" />
            <label for="lName">Last Name</label>
            <input id="lName" type="text" name="lName" />
            <label for="date">Birthday</label>
            <input id="date" type="date" name="birthday" />
            <label for="email">Email</label>
            <input id="email" type="email" name="email" />
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
            <label for="confirmPW">Confirm PW</label>
            <input id="confirmPW" type="password" name="confirmPW" />
          </div>
          <button class="button" type="submit">Register</button>
        </form>
      </div>
      <div class="error-box my-col">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
            {{ message }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="my-col">
        <form action="/login" method="POST">
          {% csrf_token %}
          <div class="form-format">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" />
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
          </div>
          <button class="button" type="submit">Log In</button>
        </form>
      </div>
    </div>
  </body>
</html>
